body {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    min-width: 320px;
    height: 100vh;
    background: linear-gradient(90deg, #2a2a2a 0%, #4d4d4d 100%);
  }
  
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .info {
    width: 50%;
    padding-right: 50px;
  }
  
  .image {
    width: 50%;
    margin-bottom: 10px;
  }
  
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .info h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .info h4 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .info h4 span {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .cart {
    display: inline-block;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
